#welcome-screen {
    width: 100%; 
    height: 100%; 
    position: fixed;
    background-image: url("../images/welcome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0;
    background-position-x: center;
}

.welcome-screen-text {
    padding-left: 40px;
    padding-right: 30px;
    color: white;
    position: fixed;
    text-align: left;
}

.welcome-screen-text1 {
    font-size: 30px;
    font-family: "Mercury", serif;
    white-space: nowrap;    
    line-height: 75px;
    padding-left: 40px;
}

.welcome-screen-text2 {
    font-size: 70px;
    font-weight: 800;
    top: 102px;
    color: white;
}

.welcome-screen-text-intro {
    font-size: 22px;
    font-weight: 400;
    color: white;
    top: 220px;
    max-width: 300px;
    background-color: #68786e;
    padding: 20px;
    opacity: 0.8;
}

.gogogo-container {
    padding: 20px;
    position: relative;
    top: 100px;
}

.gogogo-screen-text1 {
    font-size: 80px;
    font-family: "Gotham";
    white-space: normal;
    line-height: 70px;
    bottom: 400px;
}

.gogogo-screen-text {
    padding-left: 40px;
    padding-right: 30px;
    color: white;    
    text-align: left;
}

.gogogo-screen-text2 {
    font-size: 80px;
    font-weight: 800;
    bottom: 305px;
    color: white;
    line-height: 70px;
    white-space: normal;
}

body {
    font-family: 'Gotham' !important;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}

.sio-main-container{
    height: 100%;
    position: relative;
    background-color: black;
}

@media only screen and (max-width: 320px) {
    body {
        zoom: 0.8;
    }
}

@media only screen and (max-width: 375px) {
    #welcome-screen {
        width: 100%; 
        height: 100%; 
        position: fixed;
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0;
        background-position-x: center;
    }
}

.client-logo{
    z-index: 1;
    max-height: 30px;
    max-width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity:0.25;
}

.sio-ic-brand {
    color: white;
    font-size: 72px !important;
    line-height: 72px;
}

.sio-ic-serif {
    font-family: 'Mercury';
}

.sio-ic-small {
    font-size: 18px !important;
    color: white;
}

.sio-ic-bold {
    font-family: 'Gotham';
    font-weight: 700 !important;    
}

.story-container {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url("../images/welcome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0;
    background-position-x: center;
}

.story-analytics-score{
    opacity: 0.8;
    background-color: #68786e;
}

.story-analytics-timeline{
    opacity: 0.8;
    background-color: #68786e;
}

.nopadding {
    padding-right: 0px;
    padding-left: 0px;
}

.tags-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 40px 140px 30px
}

.tags-wrapper > .btn {
    border-radius: 6px;
    text-transform: none;
}

@media only screen and (max-width: 480px) {
    .tags-wrapper {
        zoom: 0.5;
    }
}

.btn-tags {
    flex-grow: 3;
    margin: 6px;
    padding: 10px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
    background: none !important;
    color: white !important;
    background-color: rgba(104, 120, 110, 0.7) !important;
    border-color: rgba(104, 120, 110, 0.7) !important;
    font-weight: bold;
}

.btn-primary.disabled {
    background: none !important;
    color: white !important;
    background-color: rgba(104, 120, 110, 0.7) !important;
    border-color: rgba(104, 120, 110, 0.7) !important;
}

.btn-primary:hover {
    background: none !important;
    color: white !important;
    background-color: rgba(104, 120, 110, 0.9) !important;
    border-color: rgba(104, 120, 110, 0.9) !important;
    font-weight: bold;
}

#previousBtn {
    border-color: white !important;
}

.btn {
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 3px;
    white-space: normal;
}

.btn.hidden-if-disabled.disabled {
    display: none;
}

/*
#nextBtn {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 24px;
    font-weight: bolder;
    position: relative;
    bottom: 40px;
}
*/

.btn:focus,
button:active,
button:hover {
    outline: 0px !important;
    -webkit-appearance: none;
}

.tags-wrapper > .btn-default:hover {
    background-color: rgba(104, 120, 110, 0.9);
}

.tags-list {
    padding-bottom: 50px;
    display: block !important;
}

.tags-list > .btn {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 18px;
}

.emotionmap-container {
    margin-top: 40px;
    zoom: 1.3;
    display: inline-block;
    text-align: center;
    margin-bottom: 70px;
}

.emotionmap-label-top {
    top: -12px;
}

.emotionmap-label-bottom {
    bottom: -12px;
}

.emotionmap-label {
    font-size: 14px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.emotionmap-title {
    font-size: 24px;
    padding-bottom: 30px !important;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-align: start;
    font-weight: 800;
}

.emotionmap-subtitle {
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: start;
}

.emotionmap-view-text {
    font-size: 42px;
    font-weight: 400;
    padding: 5px;
    position: relative;
    top: 170px;
}

.emotionmap-table {
    background-color: #fff;
    opacity: 0.9;
}

.emotionmap-label-left {
    left: 0px;
}

.emotionmap-label-right {
    right: 0px;
}

.controls {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.controls-spacer {
    height: 70px;
}

.steps-counter {
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: bold;
    font-size: 16px;
}

.tags-maximum-message {
    text-align: right;
    font-size: 12px;
    padding: 10px;
}

.color-grid-field {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left: 1px;
}

.color-grid-field-selected {
    border: 8px solid #333;
}

.color-grid-field-red {
    background-color: #E73357;
}

.color-grid-field-lightblue {
    background-color: #D9E6E9;
}

.color-grid-field-gold {
    background-color: #E8BA7F;
}

.color-grid-field-green {
    background-color: #9CCD9A;
}

.ct-label {
    font-size: 12px;
    font-weight: 800;
    fill: #f5f5f5;
}

.no-filter-btn {
    margin-top: 10px;
}

.tag-filter {
    color: white;
}