
@media only screen and (max-width: 320px) {
    body {
        zoom: 0.8;
    }
}

@media only screen and (max-width: 480px) {
    .tags-wrapper {
        zoom: 0.5;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .tags-wrapper {
        zoom: 0.5;
    }
    .emotionmap-label {
        font-size: 22px !important;
    }
}

.emotionmap-container {
    margin-top: 80px;
    zoom: 1.7;
    display: inline-block;
    text-align: center;
    margin-bottom: 70px;
}

.emotionmap-label-top {
    top: -14px;
}

.emotionmap-label-bottom {
    bottom: -14px;
}

.emotionmap-label {
    font-size: 12px;
}

.emotionmap-title {
    font-size: 34px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.emotionmap-subtitle {
    font-size: 36px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.emotionmap-view-text {
    font-size: 42px;
    padding: 5px;
    position: relative;
    top: 170px;
}

.controls {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

.controls-spacer {
    height: 70px;
}

.steps-counter {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.tags-maximum-message {
    text-align: right;
    font-size: 12px;
    padding: 10px;
}

@media only screen and (max-height: 820px),
only screen and (max-width: 600px) {
    .emotionmap-container {
        zoom: 1.2 !important;
    }
    .emotionmap-label {
        font-size: 16px;
    }
    .emotionmap-label-top {
        top: -33px;
    }
    .emotionmap-label-bottom {
        bottom: -33px;
    }
}
@media only screen and (max-height: 770px),
only screen and (max-width: 560px) {
    .emotionmap-container {
        zoom: 1.1 !important;
    }
}
@media only screen and (max-height: 720px),
only screen and (max-width: 520px) {
    .emotionmap-container {
        zoom: 1.0 !important;
    }
}

@media only screen and (max-height: 670px),
only screen and (max-width: 480px) {
    .emotionmap-container {
        zoom: 1.0 !important;
    }
}
@media only screen and (max-height: 620px),
only screen and (max-width: 440px) {
    .emotionmap-container {
        zoom: 0.8 !important;
    }
    .emotionmap-label {
        font-size: 18px;
    }
    .emotionmap-label-top {
        top: -33px;
    }
    .emotionmap-label-bottom {
        bottom: -33px;
    }
}
@media only screen and (max-height: 570px),
only screen and (max-width: 400px) {
    .emotionmap-container {
        zoom: 1.0 !important;
    }
}
@media only screen and (max-height: 520px),
only screen and (max-width: 360px) {
    .emotionmap-container {
        zoom: 0.6 !important;
    }
}
@media only screen and (max-height: 470px),
only screen and (max-width: 321px) {
    .emotionmap-container {
        zoom: 0.5 !important;
    }
}
/* BELOW 320 width special handling due to body scaling */
@media only screen and (max-width: 320px) {
    .emotionmap-container {
        zoom: 0.8 !important;
    }
}
@media only screen and (max-width: 300px) {
    .emotionmap-container {
        zoom: 0.7 !important;
    }
}
@media only screen and (max-width: 280px) {
    .emotionmap-container {
        zoom: 0.6 !important;
    }
}
@media only screen and (max-width: 260px) {
    .emotionmap-container {
        zoom: 0.5 !important;
    }
}

@media only screen and (max-width: 320px) {
    .emotionmap-label {
        font-size: 12px;
    }
    .emotionmap-label-top {
        top: -14px;
    }
    .emotionmap-label-bottom {
        bottom: -14px;
    }
}

@media only screen and (max-width: 610px) {
    .emotionmap-title {
        font-size: 14px;
    }

    .emotionmap-subtitle {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
    }
}

@media only screen and (max-height: 820px) {
    .color-grid-field {
        width: 260px;
        height: 260px;
        display: inline-block;
    }
}

@media only screen and (max-width: 770px) {
    .color-grid-field {
        width: 260px;
        height: 260px;
        display: inline-block;
    }
}

@media only screen and (max-height: 760px) {
    .color-grid-field {
        width: 240px;
        height: 240px;
        display: inline-block;
    }
}

@media only screen and (max-width: 600px) {
    .color-grid-field {
        width: 230px;
        height: 230px;
        display: inline-block;
    }
}

@media only screen and (max-height: 720px) {
    .color-grid-field {
        width: 210px;
        height: 210px;
        display: inline-block;
    }
}

@media only screen and (max-width: 610px) and (max-height: 760px) {
    .color-grid-field {
        width: 210px;
        height: 210px;
        display: inline-block;
    }
}

@media only screen and (max-height: 660px) {
    .color-grid-field {
        width: 190px;
        height: 190px;
        display: inline-block;
    }
}

@media only screen and (max-width: 610px) and (max-height: 720px) {
    .color-grid-field {
        width: 190px;
        height: 190px;
        display: inline-block;
    }
}

@media only screen and (max-width: 520px) {
    .color-grid-field {
        width: 190px;
        height: 190px;
        display: inline-block;
    }
}

@media only screen and (max-height: 660px) {
    .color-grid-field {
        width: 175px;
        height: 175px;
        display: inline-block;
    }
}

@media only screen and (max-width: 610px) and (max-height: 630px) {
    .color-grid-field {
        width: 175px;
        height: 175px;
        display: inline-block;
    }
}

@media only screen and (max-height: 600px) {
    .color-grid-field {
        width: 140px;
        height: 140px;
        display: inline-block;
    }
}

@media only screen and (max-width: 480px) {
    .color-grid-field {
        width: 160px;
        height: 160px;
        display: inline-block;
    }
    .emotionmap-label {
        font-size: 14px;
    }
    .emotionmap-label-top {
        top: -28px;
    }
    .emotionmap-label-bottom {
        bottom: -28px;
    }
}

@media only screen and (max-width: 360px) {
    .color-grid-field {
        width: 140px;
        height: 140px;
        display: inline-block;
    }
}

@media only screen and (max-width: 320px) {
    .emotionmap-label {
        font-size: 10px;
    }
    .emotionmap-label-top {
        top: -33px;
    }
    .emotionmap-label-bottom {
        bottom: -33px;
    }

    .emotionmap-label-left {
        left: -14px;
    }

    .emotionmap-label-right {
        right: -14px;
    }
}
