

.emotionmap-container {
	position: relative;
    padding: 20px;
}

/*if bootstrap is being used*/
.emotionmap-container {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.emotionmap-table {
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
}

.emotionmap-point {
    padding: 0px;
    transition: all 0.4s ease 0s;

}

.emotionmap-point-hover {
	background-color:rgb(228, 40, 57);
	/*box-shadow: rgba(228, 40, 57, 0.6) 0px 0px 100px 25px;*/
}

.emotionmap-label {
    font-size: 12px;
    letter-spacing: 1px;
}


.emotionmap-label-left {
    position: absolute;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    top: 50%;
    left: 5px;
}

.emotionmap-label-top {
    position: absolute;
    top: 5px;
    left: 0px;
    text-align: center;
    right: 0px;
}

.emotionmap-label-right {
    position: absolute;
    transform: translateX(50%) translateY(-50%) rotate(90deg);
    top: 50%;
    right: 5px;
}

.emotionmap-label-bottom {
    position: absolute;
    bottom: 5px;
    left: 0px;
    text-align: center;
    right: 0px;
}


.emotionmap-text {
    position: absolute;
    /*background-color: rgba(255, 255, 255,0.7);*/
    font-size: 18px;
    color: rgba(0,0,0,0.7);
    overflow: hidden;
    padding: 10px;
}


.emotionmap-text-huge {
    font-size: 60px;
}

.emotionmap-text-overall {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.emotionmap-text-topleft {
    top: 20px;
    left: 20px;
    width: 250px;
    overflow: hidden;
    height: 250px;
}

.emotionmap-text-center {
    top: 0px;
    left: 0px;
    width: 250px;
    padding: 20px;
    overflow: hidden;
    height: 250px;
}

.emotionmap-text-topright {
    top: 20px;
    right: 20px;
    width: 250px;
    height: 250px;
}

.emotionmap-text-bottomleft {
    bottom: 20px;
    left: 20px;
    width: 250px;
    overflow: hidden;
    height: 251px;
}

.emotionmap-text-bottomright {
    bottom: 20px;
    right: 20px;
}


.emotionmap-loading {
    background-image: url(sensation-webplugin-loading.svg);
    background-size: cover;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.emotionmap-loading .emotionmap-table {
    visibility: hidden;
}

.emotionmap-loading .emotionmap-label {
    visibility: hidden;
}

.emotionmap-loading .emotionmap-text {
    display: none;
}

.sio-text-input {
    width: 100%;
    height: 100%;
}

.story-container {
    margin-bottom: 55px;
}

.story-analytics-stats {
    font-weight: bolder;
    font-size: 50px;
}

.story-analytics-charts {
    padding: 50px;
}

.story-analytics-score {
    background-color: rgb(42, 47, 62);
    padding: 20px;
    color: white;
}

.story-analytics-timeline {
    background-color: rgb(42, 47, 62);
    padding: 20px;
    color: white;
}

.ct-label {
    font-size: inherit;
    fill: rgb(42, 47, 62);
}

.ct-grid {
    stroke: rgba(255, 255, 255, 0.7);
}
/* Line colors */

.story-analytics-timeline .ct-label {
    color: rgba(255, 255, 255, 0.7);
}

.ct-series-a .ct-line {
    stroke: #ff6868;
    stroke-width: 2px;
}

.ct-series-b .ct-line {
    stroke: #ffb14c;
    stroke-width: 2px;
}

.ct-series-c .ct-line {
    stroke: #81df95;
    stroke-width: 2px;
}

.ct-series-d .ct-line {
    stroke: #b0d0ff;
    stroke-width: 2px;
}

.ct-series-e .ct-line {
    stroke: #db2828;  
    stroke-width: 2px;  
}

.ct-series-f .ct-line {
    stroke: #21ba45;
    stroke-width: 2px;
}

.ct-series-g .ct-line {
    stroke: #2185d0;
    stroke-width: 2px;
}


/* Pie colors */

.ct-series-a .ct-slice-donut {
    
    stroke: #b0d0ff;
}

.ct-series-b .ct-slice-donut {
    stroke: #ffb14c;    
}

.ct-series-c .ct-slice-donut {
    stroke: #81df95;
}

.ct-series-d .ct-slice-donut {
    stroke: #ff6868;
}

.ct-series-e .ct-slice-donut {
    stroke: #2185d0;
}

.ct-series-f .ct-slice-donut {
    stroke: #21ba45;
}

.ct-series-g .ct-slice-donut {
    stroke: #db2828;
}