@font-face {
	font-family: "Gotham";
	src: url("GothamSSmA_300.woff") format('woff');
}

@font-face {
	font-family: "Gotham";
	src: url("GothamSSmA_500.woff") format('woff');
	font-weight: bold;
}

@font-face {
	font-family: "Gotham";
	src: url("GothamSSmA_700.woff") format('woff');
	font-weight: 700;
}



@font-face {
	font-family: "Gotham";
	src: url("GothamSSmA_300_italic.woff") format('woff');
	font-style: italic;
}

@font-face {
	font-family: "Gotham";
	src: url("GothamSSmA_500_italic.woff") format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Gotham";
	src: url("GothamSSmA_700_italic.woff") format('woff');
	font-weight: 700;
	font-style: italic;
}




@font-face {
	font-family: "Mercury";
	src: url("MercurySSmA_300.woff") format('woff');
}

@font-face {
	font-family: "Mercury";
	src: url("MercurySSmA_500.woff") format('woff');
	font-weight: bold;
}

@font-face {
	font-family: "Mercury";
	src: url("MercurySSmA_700.woff") format('woff');
	font-weight: 700;
}


@font-face {
	font-family: "Mercury";
	src: url("MercurySSmA_300_italic.woff") format('woff');
	font-style: italic;
}

@font-face {
	font-family: "Mercury";
	src: url("MercurySSmA_500_italic.woff") format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Mercury";
	src: url("MercurySSmA_700_italic.woff") format('woff');
	font-weight: 700;
	font-style: italic;
}
